@charset "utf-8";
@import "variable";
/*!

xiejiahe;   
1941959693;

 */
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-y: auto;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-family: "Comic Sans MS", "Helvetica Neue", Helvetica,Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
    background: #eee;
}

body,
html,
#app {
    height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup, 
menu,
nav,
section {
    display: block;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover,
a:active,
a:link,
a:visited {
    color: #000;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

q:after,
q:before {
    content: '';
}

legend {
    color: #000;
}

fieldset,
img,
iframe {
    border: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    border: none;
    height: 1px;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
    outline: none;
    border: 1px solid #000;
}

button,
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    outline:none;
}

i,
em {
    font-style: normal;
}

[v-cloak] {
    display: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('/static/fonts/iconfont.eot');
    src: url('/static/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/iconfont.woff') format('woff'),
    url('/static/fonts/iconfont.ttf?t=33') format('truetype'),
    url('/static/fonts/iconfont.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}






// 弹框正确
.correct {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include center;

    .correct-box {
        padding: 10px 20px;
        background: rgba(0, 0, 0, .5);
        border-radius: 6px;
    }

    .iconfont {
        color: #fff;
        font-size: 70px;
        text-align: center;
    }

    .content {
        color: #fff;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
}




// 组件 layerTop

.layer-top {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    @include center;

    &.animated {
        @include prefix(animation-duration, .2s);
    }
}








// ================================
// ============ login =============
// ================================

.login {
    height: 100%;
    background: #3A4563;
    @include center;

    .login-box {
        width: 300px;

        div {
            margin-bottom: 15px;
        }
    }

    .login-input {

        input {
            width: 100%;
            color: rgba(0, 0, 0, .5);
            padding: 10px 0 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            box-sizing: border-box;
        }
    }

    .submit {
        height: 41px;
        background: #657BDE;
        border-radius: 5px;
        @include center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        @include prefix(transition, background .13s linear);
        @include prefix(user-select, none);

        &:hover {
            background: #3255EE;
        }
    }
}


// ==================================
// ============  chat ===============
// ==================================

@include keyframes(shake-1){
    0% {
        @include prefix(transform, rotate(10deg));
    }
    20% {
        @include prefix(transform, rotate(-10deg));
    }
    40% {
        @include prefix(transform, rotate(10deg));
    }
    60% {
        @include prefix(transform, rotate(-10deg));
    }
    80% {
        @include prefix(transform, rotate(10deg));
    }
    100% {
        @include prefix(transform, rotate(0));
    }
}

.chat {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;

    .people {
        color: #fff;
        text-align: center;
        margin: 10px 0 20px 0;
        font-weight: bold;
        font-size: 16px;
    }

    .setting-btn {
        z-index: 9999;
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 30px;
    }

    .chat-center {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        @include display(flex);      

        .right {
            border-top-right-radius: 7px;
            position: relative;
            height: 100%;
            background: #eee;
            @include display(flex);
            @include prefix(flex, 1);
        }
    }

    .left {
        width: 200px;
        height: 100%;
        background: #2e3238;
        padding: 10px 0;
        overflow-y: auto;
        @extend %common-bar;

        .user-list {
            padding: 0 0 0 10px;
            overflow: hidden;
            margin-bottom: 15px;
            @include prefix(user-select, none);

            &:nth-of-type(2) {
                padding: 10px 0 10px 10px;
                background: rgba(255, 255, 255, .1);
            }

            img {
                float: left;
                width: 60px;
                height: 60px;
                border-radius: 5px;
                vertical-align: middle;
            }

            span {
                float: left;
                width: 95px;
                height: 60px;
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                vertical-align: middle;
                color: #fff;
                font-size: 20px;
                @include center(flex-start, center, start, center);
            }
        }
    }

    .input {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        .input-text {
            background: #fff;
            width: 100%;
            @include display(flex);

            input {
                width: 100%;
                height: 40px;
                padding: 8px 8px;
                outline: none;
                font-size: 16px;
                color: #666;
                border: 0 none;
                @include prefix(flex, 1);
            }
        }

        .btn {
            width: 70px;
            background: #ccc;
            font-size: 16px;
            border-radius: 5px;
            margin-right: 3px;
            cursor: pointer;
            @include prefix(transition, background .1s linear);
            @include prefix(user-select, none);
            @include center;

            &:hover {
                background: #ccc;
            }
        }

        .emoji-btn {
            position: relative;
            padding-bottom: 10px;

            img {
                width: 25px;
                margin-left: 10px;
                cursor: pointer;
                vertical-align: middle;
            }

            .garbage {
                display: inline-block;
                font-size: 25px;
                vertical-align: middle;
                margin-left: 10px;
                cursor: pointer;
                @include prefix(transform-origin, center bottom);

                &:hover {
                    @include prefix(animation, shake-1 .4s ease);
                }
            }

            .emoji {
                position: absolute;
                bottom: 58px;
                left: 10px;
                width: 308px;
                padding: 10px 10px;
                border-radius: 5px;
                background: #fff;
                box-shadow: 1px 1px 5px #ccc;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: -28px;
                    left: 2px;
                    border: 16px solid transparent;
                    border-top-color: #fff;
                    @include prefix(transform, rotate(10deg));
                }

                li {
                    float: left;
                    font-size: 25px;
                    width: 32px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    @include prefix(user-select, none);
                    @include center;

                    &:hover {
                        border: 1px solid blue;
                    }
                }
            }
        }
    }

    .message {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        padding: 10px 10px 65px 10px;
        bottom: 50px;
        overflow-y: auto;
        @extend %common-bar;

        .name {
            margin: 10px 0 10px 0;
            padding: 0 50px;
            @include display(flex);

            span {
                color: #666;
                font-size: 14px;
            }
            
            .locality {
                margin-left: 15px;
            }
        }

        .msg-list {
            margin-top: 20px;
            
            //  自己发送信息的样式
            &.active {

                .msg-user {
                    flex-direction: row-reverse;
                }

                .msg-content {
                    margin: 0 15px 0 35px;
                    background: rgb(124, 242, 88);
                    justify-content: flex-end;

                    &:after {
                        left: initial;
                        right: -24px;
                        border: 12px solid transparent;
                        border-left-color: rgb(124, 242, 88);
                    }
                }

                .name {
                    flex-direction: row-reverse;
                    text-align: right;

                    .locality {
                        margin-right: 15px;
                    }
                }
            }

            .time {
                text-align: center;
                margin: 10px 0 0 0;

                span {
                    color: #fff;
                    border-radius: 3px;
                    font-weight: bold;
                    padding: 5px 10px;
                    background: rgba(0, 0, 0, .17);
                }
            }
        }

        .online {
            margin-top: 15px;
            text-align: center;

            span {
                color: #fff;
                border-radius: 3px;
                font-weight: bold;
                padding: 5px 10px;
                background: rgba(0, 0, 0, 0.17);
            }
        }

        .msg-user {
            @include display(flex);

            img {
                width: 40px;
                height: 40px;
                border-radius: 5px;
            }

            .msg-content {
                position: relative;
                background: rgba(255, 255, 255, .9);
                margin: 0 35px 0 15px;
                padding: 7px 7px 7px 10px;
                font-size: 14px;
                border-radius: 3px;
                word-break: break-all;
                @include display(flex);
                @include prefix(flex, 1);
                align-items: center;

                &:after {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -24px;
                    border: 12px solid transparent;
                    border-right-color: rgba(255, 255, 255, .9);
                }
            }
        }
    }
}


.setting,
.chat,
.about,
.tip {
    @include prefix(animation-duration, .15s !important);
}


// =========================
// ========= 设置 ===========
// =========================

.setting {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6;

    .setting-parent {
        margin-top: 50px;
    }

    %common {
        height: 40px;
        color: #fff;
        margin-top: 15px;
        background: #0080ff;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        @include prefix(transition, background .1s linear);
        @include center;

        &:hover {
            background: #2500ff;
        }
    }

    .exit,
    .about-author {
        @extend %common;
    }
}




// 确认和取消
.confirm-cancel {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
    @include center;

    .confirm-cancel-box {
        width: 250px;
        padding: 25px 0;
        background: #fff;
        border-radius: 7px;
        box-shadow: 0 0 10px rgba(255, 255, 255, .7);
        @include prefix(animation-duration, .2s !important);
    }

    .logout {
        font-size: 20px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #f9f9f9;
    }

    .bottom {
        margin-top: 10px;
        @include display(flex);

        div {
            @include prefix(flex, 1);
            font-size: 18px;
            text-align: center;
            color: #2d97f8;
            cursor: pointer;

            &:hover {
                color: rgba(45, 155, 248, .8);
            }
        }
    }
}



// ======================
// ======== 关于我 =======
// ======================

.about {
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f6f6f6;

    .about-me {
        margin: 30px 30px;

        div {
            margin-bottom: 15px;
        }

        .github {

            span {
                margin-left: 10px;
                font-size: 17px;
                text-decoration: underline;
            }
        }

        .email span {

            margin-left: 10px;
            font-size: 17px;
        }
    }

    .job {
        font-size: 17px;
    }
}










@media screen and (max-width: 768px) {
    .left {
        display: none;
    }

    .open {
        display: block !important;
    }
}























































































